.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    -webkit-box-shadow: -1px 4px 10px 6px rgba(15,12,15,1);
    -moz-box-shadow: -1px 4px 10px 6px rgba(15,12,15,1);
    box-shadow: -1px 4px 10px 6px rgba(15,12,15,1);
}